<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container">
    <h1>행정안전부 착한가격</h1>
    <div class="row">
        <div class="col">
            {% for gp in gp_list %}
                <ul><a href="detail/{{ gp.TITLE }}">. {{ gp.TITLE }} - {{ gp.ADDRESS }} -{{ gp.SECTOR }}</a></ul>
            {% endfor %}
        </div>
        
    </div>
</div>