{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top:20px">
  <h2>게시판 상세보기</h2>
  <form name="form">
  <table class="table">
  	<colgroup>
  		<col width="25%"/>
  		<col width="*"/>
  	</colgroup>
    <div class="row">
        <div class="col">
            {% for g in gp_list %}
        </div>
        <div class="col">
    <tbody>
      <tr>
      	<td>업소명</td>
        <td>{{g.TITLE}}</td>
     </tr>
      <tr>
      	<td>주소</td>
        <td>{{g.ADDRESS}}m</td>
     </tr>      
      <tr >
        <td>업종</td>
        <td>{{g.SECTOR}}</td>
     
      </tr>
      <tr >
        <td>주요품목</td>
        <td>{{g.MAIN}}</td>
      </tr>
      <tr >
        <td>상제정보</td>
        <td>{{g.MEMO | linebreaksbr}} 
        </td>
      
      </tr>
        <td>배달{{g.DELIV}}</td>
       <tr >
        <td>주차{{g.PARK}} </td>
        {% endfor %}
      </tbody>
    </table>   
    
    
     
        
  	<div class="container" style="text-align:right">
	  <div class="btn-group">
	    
	    <button type="button" class="btn btn-primary" onclick="goModify()">수정</button>&nbsp;&nbsp;
	    <button type="button" class="btn btn-danger"  onclick="goDelete()">삭제</button>&nbsp;&nbsp;
		  <button type="button" class="btn btn-primary" onclick="goList()">목록</button>
	  </div>
	</div>
</form>	
</div>

<script>
function goModify(){
  //document-html 문서를 말하고 document에 name속성이 form인 객체를 가져와라 
  frm = document.form; 
  frm.action="/board/modify/{{board.id}}";
  frm.method="get";
  frm.submit();
}

function goList(){
  location.href="/board/goodpricelist"; //get방식으로 페이지 넘길때

  /*
  frm = document.form; 
  frm.action="/board/list/";
  frm.method="get";
  frm.submit();
  */
}

function goDelete()
{
  frm = document.form; 
  frm.action="/board/delete/{{board.id}}";
  frm.method="get";
  frm.submit();
}

</script>

{% endblock %}