{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% comment %} <div class="container">
    <div class="row">
        <div class="col">
            {% for mt_li in mt_list %}
                <ul><a href="detail/{{ mt_li.NAME }}">. {{ mt_li.NAME }} - {{ mt_li.ADDRESS }} </a></ul>
            {% endfor %}
        </div>
        <div class="col">
            {{ mountain_map|safe }}
        </div>
    </div>
</div>   {% endcomment %}


<div class="container">
    <div class="row">
        <div class="col">
            <h3 style="text-align : center">&#60;&#60; 한국의 100대 명산 &#62;&#62;</h3>
            <p></p> 
            <table class="table table-striped">
                <thead> <tr><th>순번</th> <th>산명</th> <th>높이</th> <th>소재지</th></tr> </thead>
                <tbody>
                    {% for row in page_obj %}
                        <tr onclick="location.href='http://127.0.0.1:8000/board/list/detail/{{row.NAME}}'" style="cursor:hand" ><td>{{row.NO}}</td>
                        <td>{{row.NAME}}</td><td>{{row.HEIGHT}} m</td><td>{{row.ADDRESS}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">Page {{ page_obj.number }} of
                        {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% comment %} <div class="row">
            {{ mountain_map|safe }}
        </div> {% endcomment %}
        <div class="col">
            <img src="{% static 'css/100mts.jpg' %}">
        </div>
    </div>
 </div>
